.idea/
external/
xgboost-document/
__pycache__/
scripts/__pycache__/

*.docx
*.log

transaction_dataset.csv
processed/transaction_dataset_cleaned.csv

outputs/random_forest_baseline/*.joblib
outputs/xgboost_baseline/*.joblib
outputs/xgboost_optimization/*.joblib

.venv/
env/
venv/
